// #################################
// CODING CHALLENGE - CORE CSS                    
// #################################



// #################### HTML / BODY ####################
html {
   -webkit-text-size-adjust: 100%;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

body {
   background-color: $grey-light;
   color: black;
   font-family: 'Roboto Condensed', Helvetica Neue, Helvetica, Arial, sans-serif;
   font-weight: 100;
   font-style: normal;
   font-size: 20px;
   line-height: 24px;
}



// #################### BOOTSTRAP ####################
.container-fluid {
   max-width: 603px; // content renders at 563px
   padding-right: 20px;
   padding-left: 20px;

   .row {
      margin-right: -10px;
      margin-left: -10px;

      .col-12,
      .col-lg-4 {
         padding-right: 10px;
         padding-left: 10px;
      }
   }
}

@media (min-width: 992px) {
   .container-fluid {
      max-width: 1000px; // content renders at 960px
   }
}



// #################### GLOBAL ####################
h1 {
   margin: 0 0 15px 0;
   font-weight: 700;
   font-size: 46px;
   line-height: 41px;
   text-transform: uppercase;
   word-spacing: 100vw;
}

h2 {
   margin: 0 0 4px 0;
   font-weight: 700;
   font-size: 40px;
   line-height: 43px;
   text-transform: uppercase;

   span {
      font-weight: 100;
      font-size: 33px;
      line-height: 36px;
      text-transform: none;
   }
}

hr {
   height: 1px !important;
   background-color: white;
   opacity: 1;
   margin: 0 0 15px 0;
}



// #################### HEADER ####################
header {
   width: 100%;
   background-color: $grey-dark;
   color: white;
   margin-bottom: 40px;
   padding: 70px 0 20px 0;

   .col-12 {
      padding-right: 20px !important;
      padding-left: 20px !important;
   }

   .header__greetings {
      margin: 0 0 3px 0;
      font-size: 35px;
      line-height: 38px;
   }

   .header__donations {
      margin: 0;
      font-size: 18px;
      line-height: 21px;
   }
}



// #################### THREE UP ####################
.three-up {
   .col-12 {
      margin-bottom: 40px;
   }

   .three-up__item {
      width: 100%;
      height: 100%;
      background-color: white;
      border-radius: 25px;
      overflow: hidden;

      .three-up__item__content {
         width: 100%;
         height: 100%;
         padding: 20px 15px 20px 10px;
         display: flex;
         align-items: start;

         i,
         img {
            position: relative;
            top: 50%;
            @include transform(translateY(-50%));
         }

         img {
            width: 107px;
         }

         i {
            color: $red;
            font-size: 102px;
         }

         .three-up__item__content__text {
            padding-left: 15px;

            p {
               margin: 0;
            }
         }
      }

      .three-up__item__button {
         width: 100%;
         height: 40px;
         background-color: $orange;
         color: white;
         border-radius: 0;
         box-shadow: none !important;
         padding: 0;
         text-align: center;
         position: absolute;
         bottom: 0;
         left: 0;
         font-size: 20px;
         line-height: 20px;
         text-transform: uppercase;

         i {
            margin-right: 8px;
         }
      }

      &.three-up__item--with-button {
         padding-bottom: 40px;
         position: relative;
      }

      &.three-up__item--date {
         .three-up__item__content {
            padding-left: 16px;
         }
      }

      &.three-up__item--logo {
         img {
            width: 113px;
         }
      }
   }
}





